/*! http://responsiveslides.com v1.55 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 10px 10px 0px 0px;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }


/* daqui para baixo é específico para o site */

/* fazendo a paginação virar uma foto */

.rslides_tabs {
  text-align: center;

}

.rslides_tabs li {
  display: inline;
  background: #fff;
  float: left;
  margin-top: 5px;
}

.rslides_tabs li a {
  display: inline-block;
  width: 165px;
  height: 80px;
  background: #f00;
  overflow: hidden;
  text-indent: -2000px;
  amargin-left: 5px;
}

.rslides_tabs li a :nth-child(2n+1){
  margin-left: 5px;
}

.rslides_here {
  opacity: 1!important;
}