<!DOCTYPE html>
<html lang="en" class="wide smoothscroll wow-animation">
<head>
    <!-- Site Title -->
    <title>News</title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>

    <!-- Stylesheets -->
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link href='//fonts.googleapis.com/css?family=Playfair+Display:400,700%7COpen+Sans:400,400italic%7CMontserrat' rel="stylesheet"/>

    <link rel="stylesheet" href="css/style.css">

    <!--[if lt IE 10]>
    <script src="js/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- The Main Wrapper -->
<div class="page text-center">

    <!--For older internet explorer-->
    <div class="old-ie"
         style='background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
            <img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <!--END block for older internet explorer-->

    <!--========================================================
                              HEADER
    =========================================================-->
    <header class="page-header">
        <!-- RD Navbar -->
        <div class="rd-navbar-wrap">
            <nav class="rd-navbar" data-rd-navbar-lg="rd-navbar-static">
                <div class="rd-navbar-inner">
                    <!-- RD Navbar Panel -->
                    <div class="rd-navbar-panel">

                        <!-- RD Navbar Brand -->
                        <div class="rd-navbar-brand">
                            <a href="./">
                                <div class="brand-name primary-color">
                                    Nail <br class="sm-visible">
                                    lepo
                                </div>
                            </a>
                        </div>
                        <!-- END RD Navbar Brand -->
                    </div>
                    <!-- END RD Navbar Panel -->

                    <div class="rd-navbar-nav-wrap">

                        <!-- RD Navbar Nav -->
                        <ul class="rd-navbar-nav">
                            <li>
                                <a href="index.html">Home</a>
                                <!-- RD Navbar Dropdown -->
                                <ul class="rd-navbar-dropdown">
                                    <li>
                                        <a href="#">What we do</a>
                                        <ul class="rd-navbar-dropdown">
                                            <li>
                                                <a href='#'>What we do</a>
                                            </li>
                                            <li>
                                                <a href='#'>Who we are</a>
                                            </li>
                                            <li>
                                                <a href='#'>Where we've been</a>
                                            </li>
                                            <li>
                                                <a href='#'>Where we're going</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Who we are</a>
                                    </li>
                                    <li>
                                        <a href="#">Where we've been</a>
                                    </li>
                                    <li>
                                        <a href="#">Where we're going</a>
                                    </li>
                                </ul>
                                <!-- END RD Navbar Dropdown -->
                            </li>
                            <li>
                                <a href="index-1.html">About us</a>
                            </li>
                            <li>
                                <a href="index-2.html">Services</a>
                            </li>
                            <li class="active">
                                <a href="index-3.html">News</a>
                            </li>
                            <li>
                                <a href="index-4.html">Contact us</a>
                            </li>
                        </ul>
                        <!-- END RD Navbar Nav -->

                        <!-- RD Navbar Toggle -->
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar"><span></span></button>
                        <!-- END RD Navbar Toggle -->
                    </div>

                </div>
            </nav>
        </div>
        <!-- END RD Navbar -->
    </header>
    <!--========================================================
                              CONTENT
    =========================================================-->
    <main class="page-content">

        <!-- latest news -->
        <section class="well well-md bg-contrast-darkest">
            <div class="container">
                <h2 class="text-uppercase">latest news</h2>

                <div class="row flow-offset-3">
                    <div class="col-sm-4">
                        <article class="news-post">
                            <img width="370" height="264" src="images/page-4_img01.jpg" alt="">
                            <h4><a href="#">Masterworks Balanced Gel Application/Art/Design</a></h4>
                            <time datetime="1915-12-17">Monday, January 5, 2016</time>
                            <a href="#" class="link">read more</a>
                        </article>

                        <article class="news-post">
                            <img width="370" height="433" src="images/page-4_img04.jpg" alt="">
                            <h4><a href="#">Advanced Nail Art of 2016</a></h4>
                            <time datetime="1915-12-17">Thursday, February 10, 2016</time>
                            <a href="#" class="link">read more</a>
                        </article>

                        <article class="news-post">
                            <img width="370" height="420" src="images/page-4_img07.jpg" alt="">
                            <h4><a href="#">Nail Art Boot Camp- Basic Training with Lauren Wireman</a></h4>
                            <time datetime="1915-12-17">Sunday, March 24, 2016</time>
                            <a href="#" class="link">read more</a>
                        </article>
                    </div>
                    <div class="col-sm-4">
                        <article class="news-post">
                            <img width="371" height="433" src="images/page-4_img02.jpg" alt="">
                            <h4><a href="#">Nail Salon Safety</a></h4>
                            <time datetime="1915-12-17">Friday, January 6, 2016</time>
                            <a href="#" class="link">read more</a>
                        </article>

                        <article class="news-post">
                            <img width="370" height="264" src="images/page-4_img05.jpg" alt="">
                            <h4><a href="#">Naillepo Mani-Pedi at the Ladies Parlor</a></h4>
                            <time datetime="1915-12-17">Thursday, February 17, 2016</time>
                            <a href="#" class="link">read more</a>
                        </article>

                        <article class="news-post">
                            <img width="370" height="264" src="images/page-4_img08.jpg" alt="">
                            <h4><a href="#">America's Beauty Show</a></h4>
                            <time datetime="1915-12-17">Monday, March 26, 2016</time>
                            <a href="#" class="link">read more</a>
                        </article>
                    </div>

                    <div class="col-sm-4">
                        <article class="news-post">
                            <img width="371" height="264" src="images/page-4_img03.jpg" alt="">
                            <h4><a href="#">Naillepo Network Orlando
                                Social</a></h4>
                            <time datetime="1915-12-17">Saturday, January 7, 2016</time>
                            <a href="#" class="link">read more</a>
                        </article>

                        <article class="news-post">
                            <img width="370" height="433" src="images/page-4_img06.jpg" alt="">
                            <h4><a href="#">Modern Romance Nail Art</a></h4>
                            <time datetime="1915-12-17">Thursday, February 20, 2016</time>
                            <a href="#" class="link">read more</a>
                        </article>

                        <article class="news-post">
                            <img width="370" height="433" src="images/page-4_img09.jpg" alt="">
                            <h4><a href="#">Up to 50% Off Deluxe Mani Pedi Package at Superior Nails & Lashes</a></h4>
                            <time datetime="1915-12-17">Tuesday, March 28, 2016</time>
                            <a href="#" class="link">read more</a>
                        </article>
                    </div>
                </div>
            </div>
        </section>
        <!-- END latest news  -->

        <!-- news archives -->
        <section class="well well-sm">
            <div class="container">
                <h2 class="text-uppercase">news archives</h2>
                <div class="row text-left offset-5">
                    <div class="col-sm-4">
                        <!--Marked List-->
                        <ul class="marked-list">
                            <li><a href="#">January 2015</a></li>
                            <li><a href="#">February 2015</a></li>
                            <li><a href="#">March 2015</a></li>
                            <li><a href="#">April 2015</a></li>
                            <li><a href="#">May 2015</a></li>
                            <li><a href="#">June 2015</a></li>
                        </ul>
                        <!--END Marked List-->
                    </div>
                    <div class="col-sm-4">
                        <!--Marked List-->
                        <ul class="marked-list">
                            <li><a href="#">July 2015</a></li>
                            <li><a href="#">August 2015</a></li>
                            <li><a href="#">September 2015</a></li>
                            <li><a href="#">October 2015</a></li>
                            <li><a href="#">November 2015</a></li>
                            <li><a href="#">December 2015</a></li>
                        </ul>
                        <!--END Marked List-->
                    </div>
                    <div class="col-sm-4">
                        <!--Marked List-->
                        <ul class="marked-list">
                            <li><a href="#">January 2014</a></li>
                            <li><a href="#">February 2014</a></li>
                            <li><a href="#">March 2014</a></li>
                            <li><a href="#">April 2014</a></li>
                            <li><a href="#">May 2014</a></li>
                            <li><a href="#">June 2014</a></li>
                        </ul>
                        <!--END Marked List-->
                    </div>
                </div>
            </div>
        </section>
        <!-- END news archives-->

        <div class="divider"></div>
    </main>
    <!--========================================================
                              FOOTER
    ==========================================================-->
    <footer class="page-footer">
        <div class="container">
            <!--Brand-->
            <a href="./" class="brand">
                <div class="brand-name">
                    Nail <br>
                    lepo
                </div>
            </a>
            <!--END Brand-->
            <!--Inline list-->
            <ul class="inline-list">
                <li><a href="index.html">Home</a></li>
                <li><a href="index-1.html">About us</a></li>
                <li><a href="index-2.html">Services</a></li>
                <li class="active"><a href="index-3.html">News</a></li>
                <li><a href="index-4.html">Contact us</a></li>
            </ul>
            <!--END Inline list-->

            <div class="divider"></div>

            <!--Copyright-->
            <p class="copyright text-uppercase">
                &copy; Copyright <span id="copyright-year"></span> NailLepo
                <a href='index-5.html' class="text-default">Privacy Policy</a>
            </p>
            <!--Copyright-->
        </div>
    </footer>
</div>

<!-- Core Scripts -->
<script src="js/core.min.js"></script>
<!-- Additional Functionality Scripts -->
<script src="js/script.js"></script>
</body>
</html>