<!DOCTYPE html>
<html lang="en" class="wide smoothscroll wow-animation">
<head>
    <!-- Site Title -->
    <title>Home</title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>

    <!-- Stylesheets -->
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link href='//fonts.googleapis.com/css?family=Playfair+Display:400,700%7COpen+Sans:400,400italic%7CMontserrat' rel="stylesheet"/>
    <link rel="stylesheet" href="css/style.css">

    <!--[if lt IE 10]>
    <script src="js/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- The Main Wrapper -->
<div class="page text-center">

    <!--For older internet explorer-->
    <div class="old-ie"
         style='background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
            <img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <!--END block for older internet explorer-->

    <!--========================================================
                              HEADER
    =========================================================-->
    <header class="page-header">

        <div class="container relative">
            <!-- RD Navbar -->
            <div class="rd-navbar-wrap">
                <nav class="rd-navbar rd-navbar-custom" data-rd-navbar-lg="rd-navbar-static">
                    <div class="rd-navbar-inner">
                        <!-- RD Navbar Panel -->
                        <div class="rd-navbar-panel">

                            <!-- RD Navbar Brand -->
                            <div class="rd-navbar-brand">
                                <a href="./">
                                    <div class="brand-name primary-color">
                                        Nail <br class="sm-visible">
                                        lepo
                                    </div>
                                </a>
                            </div>
                            <!-- END RD Navbar Brand -->
                        </div>
                        <!-- END RD Navbar Panel -->

                        <div class="rd-navbar-nav-wrap">

                            <!-- RD Navbar Nav -->
                            <ul class="rd-navbar-nav">
                                <li class="active">
                                    <a href="index.html">Home</a>
                                    <!-- RD Navbar Dropdown -->
                                    <ul class="rd-navbar-dropdown">
                                        <li>
                                            <a href="#">What we do</a>
                                            <ul class="rd-navbar-dropdown">
                                                <li>
                                                    <a href='#'>What we do</a>
                                                </li>
                                                <li>
                                                    <a href='#'>Who we are</a>
                                                </li>
                                                <li>
                                                    <a href='#'>Where we've been</a>
                                                </li>
                                                <li>
                                                    <a href='#'>Where we're going</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Who we are</a>
                                        </li>
                                        <li>
                                            <a href="#">Where we've been</a>
                                        </li>
                                        <li>
                                            <a href="#">Where we're going</a>
                                        </li>
                                    </ul>
                                    <!-- END RD Navbar Dropdown -->
                                </li>
                                <li>
                                    <a href="index-1.html">About us</a>
                                </li>
                                <li>
                                    <a href="index-2.html">Services</a>
                                </li>
                                <li>
                                    <a href="index-3.html">News</a>
                                </li>
                                <li>
                                    <a href="index-4.html">Contact us</a>
                                </li>
                            </ul>
                            <!-- END RD Navbar Nav -->

                            <!-- RD Navbar Toggle -->
                            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar"><span></span></button>
                            <!-- END RD Navbar Toggle -->
                        </div>

                    </div>
                </nav>
            </div>
            <!-- END RD Navbar -->
        </div>

        <!-- Swiper -->
        <div class="swiper-container swiper-slider"  data-height="440px" data-loop="true">
            <div class="swiper-wrapper">
                <div class="swiper-slide" data-slide-title="Nail studio" data-slide-bg="images/page-1_img01.jpg">
                    <div class="swiper-slide-caption">
                        <div class="container" data-caption-animate="fadeIn">
                            <div class="row">
                                <div class="col-md-6 col-md-preffix-3 col-lg-4 col-lg-preffix-2 text-center text-lg-right">
                                    <h1 class="text-bold text-uppercase foreground-text relative">Modern
                                        Nail
                                        Studio</h1>
                                    <a href="#" class="btn btn-md btn-default">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" data-slide-title="Spa treatments" data-slide-bg="images/page-1_img03.jpg">
                    <div class="swiper-slide-caption ">
                        <div class="container" data-caption-animate="fadeIn">
                            <div class="row">
                                <div class="col-md-6 col-md-preffix-3 col-lg-4 col-lg-preffix-2 text-center text-lg-right">
                                    <h1 class="text-bold text-uppercase foreground-text relative">Intensive  Healing  Pedicure </h1>
                                    <a href="#" class="btn btn-md btn-default">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" data-slide-title="Pedicure" data-slide-bg="images/page-1_img02.jpg">
                    <div class="swiper-slide-caption">
                        <div class="container" data-caption-animate="fadeIn">
                            <div class="row">
                                <div class="col-md-6 col-md-preffix-3 col-lg-5 col-lg-preffix-1 text-center text-lg-right">
                                    <h1 class="text-bold text-uppercase foreground-text relative">Spa  Manicure </h1>
                                    <a href="#" class="btn btn-md btn-default">Read more</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slider Navigation -->
            <div class="swiper-navigation-wrapper">
                <div class="swiper-button swiper-button-prev">
                    <span class="swiper-button__arrow"></span>

                    <div class="preview">
                        <div class="title"></div>
                    </div>
                </div>
                <div class="swiper-button swiper-button-next">
                    <span class="swiper-button__arrow"></span>

                    <div class="preview">
                        <div class="title"></div>
                    </div>
                </div>

            </div>
        </div>
        <!-- END Swiper -->

    </header>
    <!--========================================================
                              CONTENT
    =========================================================-->
    <main class="page-content">
        <!-- YOUR ESCAPE FROM EVERYDAY ROUTINE -->
        <section class="well well-xs well--inset-4">
            <div class="container">
                <div class="row row-md-middle row-md-reverse">
                    <div class="col-md-5  col-md-preffix-1 text-md-left">
                        <h2>YOUR ESCAPE FROM EVERYDAY ROUTINE</h2>

                        <p>Naillepo is a modern nail salon in Vancouver’s Kitsilano neighborhood providing an experience
                            with equal parts of style and service, without skimping on the details. We have all-natural,
                            organic body products, hard-to-find polish brands and colors, iPads at every seat, and a
                            drink menu featuring fresh-pressed juices and hand-crafted coffees.</p>
                        <a href="#" class="btn btn-md btn-default">read more</a>
                    </div>
                    <div class="col-md-5 col-md-preffix-1">
                        <div class="decorative-wrap-2 preffix-2 content-md-shift-up">
                            <div class="decorative-border"></div>
                            <div class="decorative-background"></div>
                            <div class="image-wrap"><img width="459" height="651" src="images/page-1_img04.jpg" alt=""></div>
                        </div>
                    </div>
                </div>

                <div class="row row-md-middle">
                    <div class="col-md-5 col-md-preffix-1 col-lg-4 text-md-right">
                        <h2 class="text-uppercase">Classic Manicure</h2>

                        <p>Done once a week, our manicure will stimulate nail growth and soften dry, dull skin. Includes
                            hot soak, emphasis on cuticles, completed with massage and polish of your choice.</p>

                        <div class="discount text-primary">— $20</div>
                        <a href="#" class="btn btn-md btn-default">read more</a>
                    </div>
                    <div class="col-md-5 col-md-preffix-1">
                        <div class="decorative-wrap-1 preffix-1">
                            <div class="decorative-border"></div>
                            <div class="image-wrap"><img width="414" height="405" src="images/page-1_img05.jpg" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END YOUR ESCAPE FROM EVERYDAY ROUTINE-->

        <!-- Spa Manicure  -->
        <section class="well well-xs well--inset-5">
            <div class="container">
                <div class="row row-md-middle row-md-reverse">
                    <div class="col-md-4 text-md-left">
                        <h2 class="text-uppercase foreground-text preffix-4 relative">Spa Manicure </h2>

                        <p>Our revitalizing spa manicure services include relaxing spa procedures, hands and arms
                            massage as well as cuticles trim, nails clip and hand soak. </p>

                        <div class="discount text-primary">— $20</div>
                        <a href="#" class="btn btn-md btn-default">read more</a>
                    </div>
                    <div class="col-md-8">
                        <div class="decorative-wrap-3 postfix-1 preffix-3">
                            <div class="decorative-border"></div>
                            <div class="decorative-background"></div>
                            <div class="image-wrap"><img width="706" height="407" src="images/page-1_img06.jpg" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END Spa Manicure -->

        <!-- Featured Articles -->
        <section class="well well-xl well--inset-6 bg-contrast-darkest">
            <div class="container">
                <h2 class="text-uppercase">Featured Articles</h2>

                <div class="row flow-offset-3">
                    <div class="col-sm-4">
                        <article class="news-post">
                            <img width="370" height="264" src="images/page-1_img07.jpg" alt="">
                            <h4><a href="#">It's a Marshmallow World
                                in the Winter!</a></h4>
                            <time datetime="1915-12-17">Thursday, December 17, 2015</time>
                            <a href="#" class="link">read more</a>
                        </article>

                        <article class="news-post">
                            <img width="370" height="433" src="images/page-1_img10.jpg" alt="">
                            <h4><a href="#">Are You Afraid of the Dark?</a></h4>
                            <time datetime="1915-12-17">Sunday, October 26, 2014</time>
                            <a href="#" class="link">read more</a>
                        </article>
                    </div>
                    <div class="col-sm-4">
                        <article class="news-post">
                            <img width="371" height="433" src="images/page-1_img08.jpg" alt="">
                            <h4><a href="#">Orchid Petals Inspired Nail Art</a></h4>
                            <time datetime="1915-12-17">Sunday, September 6, 2015</time>
                            <a href="#" class="link">read more</a>
                        </article>

                        <article class="news-post">
                            <img width="370" height="264" src="images/page-1_img11.jpg" alt="">
                            <h4><a href="#">Happy Hands Nail Polish Exclusive Collection</a></h4>
                            <time datetime="1915-12-17">Thursday, October 17, 2013</time>
                            <a href="#" class="link">read more</a>
                        </article>
                    </div>

                    <div class="col-sm-4">
                        <article class="news-post">
                            <img width="371" height="264" src="images/page-1_img09.jpg" alt="">
                            <h4><a href="#">The Contrary Polish Wintry
                                Weather Collection</a></h4>
                            <time datetime="1915-12-17">Wednesday, November 4, 2015</time>
                            <a href="#" class="link">read more</a>
                        </article>

                        <article class="news-post">
                            <img width="370" height="433" src="images/page-1_img12.jpg" alt="">
                            <h4><a href="#">Modern Romance Nail Art</a></h4>
                            <time datetime="1915-12-17">Thursday, September 24, 2015</time>
                            <a href="#" class="link">read more</a>
                        </article>
                    </div>
                </div>
            </div>
        </section>
        <!-- END Featured Articles  -->

        <!-- Testimonials -->
        <section class="well well-md">
            <h2 class="text-uppercase">Testimonials</h2>
            <!-- Owl Carousel -->
                <div class="owl-carousel"
                     data-loop="true"
                     data-md-items="1"
                     data-stage-padding="15"
                     data-sm-stage-padding="50"
                     data-exl-stage-padding="0"
                     data-xxl-stage-padding="640"
                     data-xl-stage-padding="520"
                     data-lg-stage-padding="310"
                     data-nav="true"
                     data-margin="15"
                     data-sm-margin="90"
                     data-md-margin="70"
                    >
                    <div>
                        <!--data-autoplay="true"-->
                        <blockquote class="quote">
                            <div class="image-wrap">
                                <img width="110" height="110" class="round" src="images/page-1_img14.jpg" alt="">
                            </div>
                            <p><q>I did some search online for a place to get my nails done, and shortly afterwards I
                                came
                                across Naillepo. I guess it was destiny, because since my first visit I have always left
                                their salon fully satisfied.
                                Moreover, they have a wide set of additional services even for the most exquisite
                                clients. </q></p>

                            <div class="divider"></div>
                            <footer><cite class="heading-4">Nancy Guerrero</cite></footer>
                        </blockquote>
                    </div>
                    <div>
                        <blockquote class="quote">
                            <div class="image-wrap">
                                <img width="110" height="110" class="round" src="images/page-1_img13.jpg" alt="">
                            </div>
                            <p><q> I have been getting my nails done since high school and have been to a lot of
                                different salons. Lydian from Naillepo salon is by far the best nail tech I have been
                                to. I always walk away satisfied with what I get. </q></p>

                            <div class="divider"></div>
                            <footer><cite class="heading-4">Mildred Perez</cite></footer>
                        </blockquote>
                    </div>
                    <div>
                        <blockquote class="quote">
                            <div class="image-wrap">
                                <img width="110" height="110" class="round" src="images/page-1_img15.jpg" alt="">
                            </div>
                            <p><q>Naillepo is meticulous and outstanding in the service that it provides. I always leave
                                happy and refreshed after a manicure.
                                The salon is absolutely clean and sanitary. </q></p>

                            <div class="divider"></div>
                            <footer><cite class="heading-4">Sharon Robertson</cite></footer>
                        </blockquote>
                    </div>
                </div>
            <!-- END Owl Carousel -->
        </section>
        <!-- END Testimonials-->

        <!-- Google Map -->
        <section>
            <!-- RD Google Map -->
            <div class="rd-google-map">
                <div id="google-map" class="rd-google-map__model" data-zoom="14" data-x="-73.9874068"
                     data-y="40.643180"></div>
                <ul class="rd-google-map__locations">
                    <li data-x="-73.9874068" data-y="40.643180">
                        <p>9870 St Vincent Place, Glasgow, DC 45 Fr 45. <span>800 2345-6789</span></p>
                    </li>
                </ul>
            </div>
            <!-- END RD Google Map -->
        </section>
        <!-- END Google Map-->

    </main>
    <!--========================================================
                              FOOTER
    ==========================================================-->
    <footer class="page-footer">
        <div class="container">
            <!--Brand-->
            <a href="./" class="brand">
                <div class="brand-name">
                    Nail <br>
                    lepo
                </div>
            </a>
            <!--END Brand-->
            <!--Inline list-->
            <ul class="inline-list">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="index-1.html">About us</a></li>
                <li><a href="index-2.html">Services</a></li>
                <li><a href="index-3.html">News</a></li>
                <li><a href="index-4.html">Contact us</a></li>
            </ul>
            <!--END Inline list-->

            <div class="divider"></div>

            <!--Copyright-->
            <p class="copyright text-uppercase">
                &copy; Copyright <span id="copyright-year"></span> NailLepo
                <a href='index-5.html' class="text-default">Privacy Policy</a>
                More Nail Salon Templates at <a rel="nofollow" href="http://www.templatemonster.com/category.php?category=118&type=1" target="_blank">TemplateMonster.com</a>
            </p>
            <!--Copyright-->
        </div>
    </footer>
</div>

<!-- Core Scripts -->
<script src="js/core.min.js"></script>
<!-- Additional Functionality Scripts -->
<script src="js/script.js"></script>
</body>
</html>