<!DOCTYPE html>
<html lang="en" class="wide smoothscroll wow-animation">
<head>
    <!-- Site Title -->
    <title>About us</title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>

    <!-- Stylesheets -->
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link href='//fonts.googleapis.com/css?family=Playfair+Display:400,700%7COpen+Sans:400,400italic%7CMontserrat' rel="stylesheet"/>

    <link rel="stylesheet" href="css/style.css">

    <!--[if lt IE 10]>
    <script src="js/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- The Main Wrapper -->
<div class="page text-center">

    <!--For older internet explorer-->
    <div class="old-ie"
         style='background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
            <img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <!--END block for older internet explorer-->

    <!--========================================================
                              HEADER
    =========================================================-->
    <header class="page-header">
        <!-- RD Navbar -->
        <div class="rd-navbar-wrap">
            <nav class="rd-navbar" data-rd-navbar-lg="rd-navbar-static">
                <div class="rd-navbar-inner">
                    <!-- RD Navbar Panel -->
                    <div class="rd-navbar-panel">

                        <!-- RD Navbar Brand -->
                        <div class="rd-navbar-brand">
                            <a href="./">
                                <div class="brand-name primary-color">
                                    Nail <br class="sm-visible">
                                    lepo
                                </div>
                            </a>
                        </div>
                        <!-- END RD Navbar Brand -->
                    </div>
                    <!-- END RD Navbar Panel -->

                    <div class="rd-navbar-nav-wrap">

                        <!-- RD Navbar Nav -->
                        <ul class="rd-navbar-nav">
                            <li>
                                <a href="index.html">Home</a>
                                <!-- RD Navbar Dropdown -->
                                <ul class="rd-navbar-dropdown">
                                    <li>
                                        <a href="#">What we do</a>
                                        <ul class="rd-navbar-dropdown">
                                            <li>
                                                <a href='#'>What we do</a>
                                            </li>
                                            <li>
                                                <a href='#'>Who we are</a>
                                            </li>
                                            <li>
                                                <a href='#'>Where we've been</a>
                                            </li>
                                            <li>
                                                <a href='#'>Where we're going</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Who we are</a>
                                    </li>
                                    <li>
                                        <a href="#">Where we've been</a>
                                    </li>
                                    <li>
                                        <a href="#">Where we're going</a>
                                    </li>
                                </ul>
                                <!-- END RD Navbar Dropdown -->
                            </li>
                            <li class="active">
                                <a href="index-1.html">About us</a>
                            </li>
                            <li>
                                <a href="index-2.html">Services</a>
                            </li>
                            <li>
                                <a href="index-3.html">News</a>
                            </li>
                            <li>
                                <a href="index-4.html">Contact us</a>
                            </li>
                        </ul>
                        <!-- END RD Navbar Nav -->

                        <!-- RD Navbar Toggle -->
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar"><span></span></button>
                        <!-- END RD Navbar Toggle -->
                    </div>

                </div>
            </nav>
        </div>
        <!-- END RD Navbar -->
    </header>
    <!--========================================================
                              CONTENT
    =========================================================-->
    <main class="page-content">
        <!--our history-->
        <section class="well well-sm">
            <div class="container">
                <div class="row row-md-middle">
                    <div class="col-md-5 col-md-preffix-1 col-lg-4 text-md-right inset-1">
                        <h2 class="text-uppercase">our history</h2>

                        <p class="offset-6">Naillepo is dedicated to the artistry
                            of nail care and skin enrichment. We are passionate about our career and have devoted over
                            twenty years to the industry.</p>

                        <p>When you walk through our doors, you will find that our friendly seasoned staff will be happy
                            to assist you with all your beauty needs.</p>

                        <div class="discount text-primary">— $20</div>
                        <a href="#" class="btn btn-md btn-default">read more</a>
                    </div>
                    <div class="col-md-5 col-lg-6 col-md-preffix-1">
                        <div class="decorative-wrap-4 preffix-3">
                            <div class="decorative-border"></div>
                            <div class="decorative-background"></div>
                            <div class="image-wrap"><img width="514" height="488" src="images/page-2_img01.jpg" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END our history-->

        <!-- working hours  -->
        <section class="well well--inset-1">
            <div class="container">
                <div class="row row-md-reverse">
                    <div class="col-md-5 col-lg-4 text-md-left offset-1">
                        <h2 class="text-uppercase foreground-text preffix-4 relative">working hours</h2>

                        <ul class="index-list-1">
                            <li>
                                <dl class="terms-list-1">
                                    <dt>
                                        <span>Monday:</span>
                                    </dt>
                                    <dd>
                                        Closed
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl class="terms-list-1">
                                    <dt>
                                        <span>Tuesday:</span>
                                    </dt>
                                    <dd>
                                        1 PM-8 PM
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl class="terms-list-1">
                                    <dt>
                                        <span>Wednesday:</span>
                                    </dt>
                                    <dd>
                                        9:30 AM - 8 PM
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl class="terms-list-1">
                                    <dt>
                                        <span>Thursday:</span>
                                    </dt>
                                    <dd>
                                        9:30 AM - 8 PM
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl class="terms-list-1">
                                    <dt>
                                        <span>Friday:</span>
                                    </dt>
                                    <dd>
                                        10 AM – 5 PM
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl class="terms-list-1">
                                    <dt>
                                        <span>Saturday:</span>
                                    </dt>
                                    <dd>
                                        8:30 AM – 3 PM
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl class="terms-list-1">
                                    <dt>
                                        <span>Sunday:</span>
                                    </dt>
                                    <dd>
                                        Closed
                                    </dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-7 col-lg-8">
                        <div class="decorative-wrap-3 postfix-1 preffix-3">
                            <div class="decorative-border"></div>
                            <div class="decorative-background"></div>
                            <div class="image-wrap"><img width="706" height="407" src="images/page-2_img02.jpg" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END working hours -->

        <!-- useful info -->
        <section class="well well-md">
            <div class="container">
                <h2 class="text-uppercase">useful info</h2>

                <div class="row offset-2">
                    <div class="col-md-4">
                        <div class="icon icon-primary icon-xl thin-icon-microphone"></div>
                        <h5>Free consultations</h5>

                        <p>Give us a call to find out what special
                            treatment your skin and nails may
                            need.</p>
                    </div>
                    <div class="col-md-4">
                        <div class="icon icon-primary icon-xl thin-icon-map-marker"></div>
                        <h5>Interactive map</h5>

                        <p>Use the map available on our site to find
                            the location of the nearest Naillepo
                            salon.</p>
                    </div>
                    <div class="col-md-4">
                        <div class="icon icon-primary icon-xl thin-icon-gift"></div>
                        <h5>Bonus rewards</h5>

                        <p>Our loyal customers get annual rewards and discounts and can take part in some special
                            events.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- END useful info-->

        <!-- meet our team -->
        <section class="well well-sm bg-contrast-darkest">
            <div class="container">
                <h2 class="text-uppercase">meet our team</h2>

                <div class="row flow-offset-2">
                    <div class="col-lg-3 col-sm-6">
                        <img width="270" height="254" src="images/page-2_img03.jpg" alt="">
                        <h5>Eva Adamson</h5>

                        <p class="small text-italic">Nail Tech / Manager</p>

                        <p>I have moved back to Vancouver
                            after being away for 7 years.
                            I enjoy meeting new people and being a nail tech allows me to do that. I am so excited to be
                            working at Naillepo Nail Spa with the
                            concept and philosophy we apply here.</p>

                        <a href="#" class="link">read more</a>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <img width="270" height="254" src="images/page-2_img04.jpg" alt="">
                        <h5>Natalie Barnes</h5>

                        <p class="small text-italic">Nail Tech / Lead Nail Tech</p>

                        <p>I really enjoy what I do! I am CND Naillepo certified and am excited to work at salon that
                            shares the same passion that I do about the product. I have loved working with Naillepo
                            since the first time I used it. I value the integrity and health of my client's nails.</p>

                        <a href="#" class="link">read more</a>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <img width="270" height="254" src="images/page-2_img05.jpg" alt="">
                        <h5>Olivia Grosh</h5>

                        <p class="small text-italic">Nail Tech</p>

                        <p>I am a Vancouver native, raised in Lakewood. I have five daughters and a dog who keep me
                            busy.
                            I am so blessed to have found a place at Naillepo. I am also lucky that I get to do what I
                            love and
                            be creative and meet the most
                            amazing people.</p>

                        <a href="#" class="link">read more</a>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <img width="270" height="254" src="images/page-2_img06.jpg" alt="">
                        <h5>Jessica Priston</h5>

                        <p class="small text-italic">Nail Tech</p>

                        <p>My passion in the beauty industry is nails. Being a nail tech allows me to be creative. I
                            love giving my clients a confidence boost, with beautiful nails or a relaxing
                            pedicure. Outside of Naillepo I enjoy hair styling, reading, and spending time with my
                            family.</p>

                        <a href="#" class="link">read more</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- END meet our team-->

    </main>
    <!--========================================================
                              FOOTER
    ==========================================================-->
    <footer class="page-footer">
        <div class="container">
            <!--Brand-->
            <a href="./" class="brand">
                <div class="brand-name">
                    Nail <br>
                    lepo
                </div>
            </a>
            <!--END Brand-->
            <!--Inline list-->
            <ul class="inline-list">
                <li><a href="index.html">Home</a></li>
                <li class="active"><a href="index-1.html">About us</a></li>
                <li><a href="index-2.html">Services</a></li>
                <li><a href="index-3.html">News</a></li>
                <li><a href="index-4.html">Contact us</a></li>
            </ul>
            <!--END Inline list-->

            <div class="divider"></div>

            <!--Copyright-->
            <p class="copyright text-uppercase">
                &copy; Copyright <span id="copyright-year"></span> NailLepo
                <a href='index-5.html' class="text-default">Privacy Policy</a>
            </p>
            <!--Copyright-->
        </div>
    </footer>
</div>

<!-- Core Scripts -->
<script src="js/core.min.js"></script>
<!-- Additional Functionality Scripts -->
<script src="js/script.js"></script>
</body>
</html>