/*
* @subsection   RD Navbar
*
* @description  Describes style declarations for RD Navbar extension
*
* @author       Evgeniy Gusarov
* @link         https://ua.linkedin.com/pub/evgeniy-gusarov/8a/a40/54a
* @version      2.0.0
*/
@import "rd-navbar_includes/_rd-navbar-mixins.scss";

$navbar-color: $grayscale-default;
$navbar-background: $secondary;
$navbar-shadow: $box-shadow-ambient, $box-shadow-key-light;
$navbar-width: 1170px;

$navbar-panel-color: $navbar-color;
$navbar-panel-background: $navbar-background;

$navbar-nav-min-width: 270px;
$navbar-nav-color: $navbar-color;
$navbar-nav-background: transparent;
$navbar-nav-hover-color: #FFF;
$navbar-nav-hover-background: $primary;
$navbar-nav-active-color: $navbar-nav-hover-color;
$navbar-nav-active-background: $navbar-nav-hover-background;

$navbar-dropdown-width: 270px;
$navbar-dropdown-background: $contrast;
$navbar-dropdown-item-color: $default;
$navbar-dropdown-item-background: $contrast;
$navbar-dropdown-item-hover-color: $primary;
$navbar-dropdown-item-hover-background: transparent;
$navbar-dropdown-item-active-color: $navbar-dropdown-item-hover-color;
$navbar-dropdown-item-active-background: $navbar-dropdown-item-hover-background;

$navbar-megamenu-gutter: 30px;
$navbar-megamenu-background: $grayscale-darken;
$navbar-megamenu-item-color: $grayscale-default;
$navbar-megamenu-item-background: transparent;
$navbar-megamenu-item-hover-color: $primary;
$navbar-megamenu-item-hover-background: transparent;

$navbar-toggle-preset: "button-lines-cross-2";
$navbar-search-toggle-preset: "search-preset-1";
$navbar-collapse-toggle-preset: "collapse-preset-1";

/*
* @subsection General Styles
*/

.rd-navbar {
  background: $secondary;
  .rd-navbar-brand {
    font-weight: 400;
    position: relative;
    display: inline-block;
    .brand-name {
      display: inline-block;
      padding: 23px 18px 23px 18px;
      text-transform: uppercase;
      text-align: center;
      font-size: 21px;
      line-height: 24px;
      color: $default;
      font-family: $secondary-font-family-2;
      border: 3px solid $default;
    }
  }
}

// RD Navbar Basics
%rd-navbar-transition {
  transition: .3s all cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

%rd-navbar-hidden {
  display: none;
}

%rd-navbar-visible {
  display: block;
}

.rd-navbar--no-transition {
  &, * {
    transition: none !important;
  }
}

.rd-navbar-wrap {
  @extend %rd-navbar-transition;
}

.rd-navbar, .rd-navbar.rd-navbar--is-clone {
  @extend %rd-navbar-hidden;
}

.rd-navbar-fixed,
.rd-navbar-static,
.rd-navbar-fullwidth,
.rd-navbar-sidebar {
  @extend %rd-navbar-visible;
  .rd-navbar-inner {
    z-index: 2;
  }
}

.rd-navbar-wrap, .rd-navbar, .rd-navbar-brand, .rd-navbar-slogan,
.rd-navbar-dropdown, .rd-navbar-megamenu, .rd-navbar-collapse-items,
.brand-name, .rd-navbar-nav, .rd-navbar-panel, .rd-navbar-search-form-input,
.rd-navbar-search-form-submit, .rd-navbar-search-toggle,
.rd-navbar-live-search-results, .rd-navbar-search-form {
  transition: .3s all ease;
}

// RD Navbar Collapse
.rd-navbar-collapse {
  &-toggle {
    @include make-toggle(
            $navbar-collapse-toggle-preset,
            $navbar-min-line-height,
            $navbar-min-font-size,
            $navbar-panel-color
    );
    display: none;
  }
}

// RD Navbar States
.rd-navbar--has-sidebar {
  body {
    padding-left: 270px;
  }
}

.rd-navbar--is-stuck {
  box-shadow: $navbar-shadow;
}

.rd-navbar.rd-navbar-fixed + .rd-navbar.rd-navbar--is-clone,
.rd-navbar.rd-navbar-sidebar + .rd-navbar.rd-navbar--is-clone {
  display: none;
}

.rd-navbar.rd-navbar--is-stuck.rd-navbar--loading {
  visibility: hidden;
  @include transform(translateY(-100%));
}

@import "rd-navbar_includes/_rd-navbar-components.scss";

/*
* @subsection   Hybrid  Styles
*/

//=========    Static & Fullwidth & Sidebar    ===========
.rd-navbar-static, .rd-navbar-sidebar, .rd-navbar-fullwidth {
  z-index: 10;

}

//=============    Static & Fullwidth     ================
.rd-navbar-static, .rd-navbar-fullwidth {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }

  // RD Navbar Submenu
  .rd-navbar-nav {
    > li {
      > a {
        display: block;
        padding: 0;
        font-size: 14px;
        line-height: 30px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: $default;
      }

      &.focus > a, > a:hover, &.active > a {
        color: $primary;
        background: transparent;
      }
    }

    > .rd-navbar-submenu {
      > ul {
        box-shadow: $navbar-shadow;
      }

      li {
        font-size: 14px;
        line-height: 30px;
      }

      > .rd-navbar-dropdown {
        opacity: 0;
        visibility: hidden;
        @include transform(translateY(30px));
      }

      &.focus {
        > .rd-navbar-dropdown {
          opacity: 1;
          visibility: visible;
          @include transform(translateY(0));
        }
      }

      .rd-navbar-submenu.focus > .rd-navbar-dropdown {
        display: block;
      }
    }
  }

  // RD Navbar Inner
  .rd-navbar-inner {
    position: relative;
    max-width: $navbar-width + 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  // RD Navbar Nav
  .rd-navbar-nav {
    > li > .rd-navbar-dropdown {
      display: block;
      position: absolute;
      text-align: left;
      margin-top: 30px;
      left: 50%;
      margin-left: -20px;
      width: $navbar-dropdown-width;
      z-index: 5;
      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        @include transform(translateY(-100%));
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 20px 0 0 20px;
        border-color: transparent transparent transparent $contrast;
      }
    }


  }

  // RD Navbar Dropdown
  .rd-navbar-dropdown {
    background: $secondary;

    li {
      padding-top: 10px;
      padding-bottom: 10px;
      color: $navbar-dropdown-item-color;
      background: $navbar-dropdown-background;

    }
    > li > a {
      background: $navbar-dropdown-background;
      font-size: 14px;
      font-weight: 400;
      text-transform: none;
    }

    li + li {
      margin-top: 1px;
    }

    > li > a {
      position: relative;
      display: block;
      padding: 0 10px 0 15px;
      color: $navbar-dropdown-item-color;

      &:hover {
        color: $navbar-dropdown-item-hover-color;
        background: $navbar-dropdown-item-hover-background;
        &:after {
          color: $primary;
        }
      }
    }

    > li.focus > a {
      color: $navbar-dropdown-item-active-color;
      background: $navbar-dropdown-item-active-background;
      &:after {
        color: $primary;
      }
    }

    .rd-navbar-dropdown {
      position: absolute;
      top: 0;
      left: 100%;
      margin-left: 10px;
      width: $navbar-dropdown-width;
      > li, li > a {
        background: $primary;
        color: $contrast;
      }
      > li > a:hover, > li.focus > a {
        color: $default;
      }
    }

    > li.rd-navbar--has-dropdown > a, > li.rd-navbar--has-dropdown.focus > a {
      position: relative;
      &:after {
        content: '\f105';
        font-size: 32px;
        line-height: 1;
        font-family: 'FontAwesome';
        color: $default;
        position: absolute;
        top: 50%;
        right: 20px;
        @include transform(translateY(-50%));
        transition: .3s all ease;
      }

      &:hover:after {
        color: $primary;
      }
    }
    > li.rd-navbar--has-dropdown.focus > a {
      &:after {
        color: $primary;
      }
    }
  }

  // RD Navbar Clone
  &.rd-navbar--is-clone {
    padding-top: 7px;
    padding-bottom: 7px;
    display: none;
    background: $secondary;
    @include transform(translateY(-110%));


    .rd-navbar-brand .brand-name{
      font-size: 19px;
      padding: 5px;
    }

    &.rd-navbar--is-stuck {
      @include transform(translateY(0));
    }

    .rd-navbar-nav {
      opacity: 1;
      pointer-events: visible;
    }

    .rd-navbar-toggle {
      display: none;
    }
  }

  // RD Navbar Stuck
  &.rd-navbar--is-stuck,
  &.rd-navbar--is-clone {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999;

    .rd-navbar-collapse {
      display: none;
    }

    .rd-navbar-nav {
      > li {
        > a {
          padding: 23px 10px 17px;
        }
      }
    }
  }

  // RD Navbar States
  .rd-navbar--has-dropdown {
    position: relative;
  }

  &.rd-navbar--is-clone {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

  }
}

//=============      Fixed & Sidebar      ================
.rd-navbar-fixed, .rd-navbar-sidebar {
  // RD Navbar Collapse
  .rd-navbar-collapse-toggle {
    display: inline-block;
    z-index: 1;
  }
  // RD Navbar Dropdown
  .rd-navbar-dropdown {
    display: block;
  }

  .rd-navbar-collapse-items {
    position: absolute;
    width: $navbar-nav-min-width - 10px;
    padding: 25px 15px;
    box-shadow: $navbar-shadow;
    color: $navbar-panel-color;
    background: $navbar-panel-background;
    font-size: 16px;
    line-height: 34px;

    li > * {
      vertical-align: middle;
    }

    li + li {
      margin-top: 10px;
    }

    .icon, a {
      display: inline-block;
      font-size: 16px;
      line-height: 30px;
    }

    .icon, a[class*="fa"]:before {
      display: inline-block;
      width: 30px;
      height: 30px;
      padding-right: 5px;
    }
  }
}

.rd-navbar-fixed .rd-navbar-nav,
.rd-navbar-sidebar {
  position: fixed;
  width: $navbar-nav-min-width;
  height: 100%;
  left: 0;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  font-size: 16px;
  line-height: 34px;
  color: $navbar-color;
  background: $secondary;
  box-shadow: $navbar-shadow;
  z-index: 998;
  padding: 10px 4px;

  &:before, &:after {
    content: '';
    display: block;
    height: 25px;
  }

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: lighten($navbar-background, 10%);
    border: none;
    border-radius: 0;
    opacity: .2;
  }

  &::-webkit-scrollbar-track {
    background: $navbar-background;
    border: none;
    border-radius: 0;
  }
}

.rd-navbar-fixed .rd-navbar-nav,
.rd-navbar-sidebar .rd-navbar-nav {
  p {
    font-weight: 700;
    color: $grayscale-darken;
    padding: 5px 40px 5px 15px;

    > a {
      display: block;
      color: $grayscale-default;
      margin: -5px -40px -5px -15px;
      font-weight: 400;
      padding: 5px 40px 5px 15px;

      &:hover {
        color: $navbar-nav-hover-color;
        background: $navbar-nav-active-background;
        text-decoration: none;
      }
    }
  }

  li {
    position: relative;

    li > a {
      padding-left: 20px;
    }

    > a {
      position: relative;
      display: block;
      padding: 5px 45px 5px 15px;

      &:first-letter {
        text-transform: uppercase;
      }
    }

    &.active > a {
      color: $navbar-color;
      background: darken($navbar-background, 5%);
    }

    &.focus > a, > a:hover {
      color: $navbar-nav-hover-color;
      background: $navbar-nav-active-background;
    }

    & + li, > img + a, > a + a, > a + ul {
      margin-top: ($navbar-min-height - $navbar-min-line-height) / 2;
    }
  }

  // RD Navbar Dropdown
  .rd-navbar-dropdown {
    > li > a {
      padding-left: 20px;
    }

    ul > li > a {
      padding-left: 25px;
    }
  }

  // RD Navbar Submenu
  .rd-navbar-submenu {
    > .rd-navbar-megamenu,
    > .rd-navbar-dropdown {

    }

    &.focus {

    }
  }
}

.rd-navbar-fixed, .rd-navbar-sidebar {
  // RD Navbar Search
  .rd-navbar-search {
    &-form {
      &-submit {
        @include transform(scale(.7));
      }
    }
  }
}

@import "rd-navbar_includes/_rd-navbar-static.scss";
@import "rd-navbar_includes/_rd-navbar-fullwidth.scss";
@import "rd-navbar_includes/_rd-navbar-fixed.scss";
@import "rd-navbar_includes/_rd-navbar-sidebar.scss";
@import "rd-navbar_includes/_rd-navbar-custom.scss";

/*
* @subsection   Page boxed layout style redeclaration
*
* @description  Redefines navbar style inside boxed layout
*
* @see          ../modules/_page-layouts.scss
*/
html.boxed {
  &.rd-navbar--has-sidebar {
    body {
      padding-left: $navbar-nav-min-width + 30px;
      padding-right: 30px;
    }
  }

  .rd-navbar--is-clone {
    max-width: $layout-boxed-width;
    margin-left: auto;
    margin-right: auto;
  }
}


